Misc/*
Obj/*
Bin/*

*.obj
*.pdb
*.ilk
*.sdf
*.opensdf
*.ipch
*.log

Editor/CodeStat.exe
Dependencies/OgreV1.8
Dependencies/PolyVox/build/*
Dependencies/*/Bin/*
Dependencies/*/Lib/*
Dependencies/*/Libs/*
Dependencies/*/CMake/*
.hg/*
.hgignore
